<div class="min-h-screen flex items-center justify-center bg-white px-4">
  <div class="w-full max-w-6xl grid grid-cols-1 md:grid-cols-2 gap-6 items-center">
    <div class="flex justify-center">
      <img src="assets/registro-students.png" alt="Students" class="w-[90%] h-auto">
    </div>

    <div class="px-6 md:px-12">
      <h2 class="text-4xl font-semibold mb-10">Registrate Alumno</h2>

      <label class="block text-lg mb-1 font-medium">Nombre (s):</label>
      <input
        type="text"
        [(ngModel)]="nombre"
        class="w-full border border-orange-200 rounded-md p-3 mb-6
               outline-none focus:ring-2 focus:ring-orange-300"
      />
      <label class="block text-lg mb-1 font-medium">Apellido (s):</label>
      <input
        type="text"
        [(ngModel)]="apellido"
        class="w-full border border-orange-200 rounded-md p-3 mb-6
               outline-none focus:ring-2 focus:ring-orange-300"
      />

      <label class="block text-lg mb-1 font-medium">Correo Electronico :</label>
      <input
        type="email"
        [(ngModel)]="correo"
        placeholder="Ejemplo: 233396@ids.upchiapas.edu.mx"
        class="w-full border border-orange-200 rounded-md p-3 mb-6 text-gray-500
               outline-none focus:ring-2 focus:ring-orange-300"
      />

      <label class="block text-lg mb-1 font-medium">Contraseña:</label>
      <div class="relative">
        <input
          [type]="showPassword ? 'text' : 'password'"
          [(ngModel)]="password"
          class="w-full border border-orange-200 rounded-md p-3 pr-12 
                 outline-none focus:ring-2 focus:ring-orange-300"
        />

        <button
          type="button"
          (click)="togglePassword()"
          class="absolute right-4 top-3 text-orange-400"
        >
          <span *ngIf="!showPassword">👁️‍🗨️</span>
          <span *ngIf="showPassword">🙈</span>
        </button>
      </div>

      <button
        (click)="registrar()"
        class="bg-orange-300 hover:bg-orange-400 w-full text-white text-xl 
               font-semibold py-3 rounded-md mt-10"
      >
        REGISTRATE
      </button>

    </div>

  </div>
</div>
